<h1>About us...</h1>
<p>
  <strong>Creators of this page: </strong>
  <br>
  <i><%= @name %></i>
  <br>
  Github: <a href=<%=@url %>>zxbuzzy</a>
  <br>
  <img src=<%=@profile_picture %> alt="profile_picture" style="height: 100px; width: 100px">
</p>